body {
background-color:#67102A;

}
body.sinema {
background-image:url("123.jpg" );
background-size:105%;
color:black;

}

body.kitap {
background-image:url("kitap2.jpg" );
background-color:FFE1BE;
background-size:100%;
color:}

body.dans{ 
 background-image:url("abcc.jpg" );
 background-size:100%;

}

body.iletisim {
background-image:url("arka3.jpg" );
background-size:100%}

body.bale {
 background-image:url("abcc.jpg" );
 background-size:100%;
}



.menu{
    position:fixed
    border: solid 0px black; 
    height: 38px; 
    width: 1250px; 
    margin: 30px 30px 0px 40px;

}




input {
         padding: 10px 10px;
         border: 0px ;
         background-image:url("ab.jpg" );
         color:white;
         width:90px
}
.div1 
{ 
    border: solid 0px black;  
    height: 558px; 
    width: 1250px; 
    margin: 15px 30px 0px 40px
} 






.div2 
{ 

    border: solid px black; 
    float: left; 
    height: 360; 
    width:860px ;
    margin top: px ;
    margin-right: ; 
    margin-bottom: ;
    margin-left: ;
} 


img { 

    height: 360; 
    width:860px ;
}

.div3 
{ 
    border: solid px black; 
    float: right; 
    height: 540; 
    width:370px ;
    margin top: px ;
    margin-right: ; 
    margin-bottom: ;
    margin-left: ;
} 

img.dans {
    height: 558; 
    width:370px ;
}

.div4 
{ 
    border: solid px black; 
    float: left; 
    height: 178; 
    width:860px ;
    margin top: px ;
    margin-right: ; 
    margin-bottom: ;
    margin-left: ;
}


img.kitap{
    height: 180; 
    width:860px ;
} 






form {
        background-color:#;	
        color:white;
        font-size: px;
        border:3px solid solid #;
        padding: 10px 100px;
        
    
 

}


h3 {
font-family:Comic Sans MS;
margin: 20px;
}

h1 {
color:98093D;
padding_top:0px;
padding-left:40px;}


textarea {
			width: 400px;
			height: 36px;
			max-width: 400px;
			
}


input.iletisim  {
			padding: 0px 10px;
			border: 1px solid #747474;
                        background-color:white;
                        height:22;
                        background-image:url("" );
                        color:black;
     }



img.film {
height:200px;
width:350px;
float:left
}


div.film {
height:px;
width:;
margin-left:365;
margin-top:30;
margin-right:30;
color:}

div.film1 {
margin-left:30;
margin-right:30}



img.kitap2 {
height:320px;
width:230px;
float:left;
margin-left:22}

div.kitap {
height:px;
width:;
margin-left:300;
margin-top:30;
margin-right:30}


div.yorum{
margin-left:300px;
width:650px;}

a:link{font-style : normal; 
color :gray; 
font-family : Times New Roman;} 

a:visited {font-family : Times New Roman ! important; 
font-style : italic; 
color :A11445; } 
 
a:hover{text-decoration : underline; 
font-family : Times New Roman ! important;
font-weight : bold; 
font-style :normal; 
color :#0020AE;} 

a:active{ font-family : Times New Roman; 
color :1C40E1;}




img.danss{
height:320px;
width:188px;
float:left;
margin-left:15}

img.dansss{
height:320px;
width:550px;
float:left;
margin-left:15}


div.bale{
height:px;
width:;
margin-left:600;
margin-top:30;
margin-right:30;
}


div.alt{border: solid px black;
height: px; 
    width: 200px;
margin-left:15 
}


div.col{ 
    border: solid px black;  
    height: 525px; 
    width: 1350px; 
    margin: 25px px 0px px;
} 




div.col1{border: solid px black;
height: 525px;
width:225;
float:left;

}

div.col2{border: solid px black;
height: 525px;
width:225;
float:left;
}


div.col3{border: solid px black;
height: 525px;
width:225;
float:left;
}

div.col4{border: solid px black;
height: 525px;
width:225;
float:left;
}

div.col5{border: solid px black;
height: 525px;
width:225;
float:left;
}

div.col6{border: solid px black;
height: 525px;
width:211;
float:left;
}